[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.2 debian-netsurf-latest
Icon=/home/jay/.local/share/icons/NetSurfIcon1.png
Type=Application
Terminal=false
GenericName=NetSurf
Name=NetSurf
StartupNotify=false
Categories=Graphics
